@media (max-width: 1766px) {
    .footer-center, .footer-left, .footer-right {
        margin: 0;
        width: 33%;
    }

    .container {
        max-width: 90%;
    }

    .footer-right {
        padding-left: 25px;
    }

    .footer-container {
        padding-top: 33px;
        justify-content: space;
    }

    .footer-btn {
        padding: 17px 36px;
    }

    .descr-about {
        margin-right: 19%;
    }
}

@media (max-width: 1280px) {

    .container {
        max-width: 90%;
    }

    .header__nav {
        position: absolute;
        right: 0;
        top: 0;
        min-width: 250px;
        height: 100vh;
        z-index: 1000;
        padding: 50px;
        box-shadow: 0 0 5px #888;
        background-color: #fff;
        overflow-y: auto;
        visibility: hidden;
        transform: translate(15%, 0%);
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
        background-color: #222222;
    }

    .header__nav .nav-list__item {
        color: #CACACA;
        margin-bottom: 15px;
    }

    .header__nav .nav-list {
        flex-direction: column;
        z-index: 1000;
    }

    .header__nav .nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__nav .nav__link {
        font-size: 18px;
    }

    .header__nav--active {
        visibility: visible;
        transform: none;
    }

    .burger {
        position: relative;
    }

    .burger:focus {
        outline: none;
    }

    .burger::before {
        content: "";
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 3px;
        right: 15px;
        outline: 2px solid #FF9900;
        outline-offset: 8px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .burger:focus::before {
        opacity: 1;
    }

    .burger--active::before {
        outline: none;
    }

    .burger--active
    .burger__line:nth-child(2) {
        width: 25px;
        left: 15px;
        color: #E1670E;
        transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .burger--active
    .burger__line:first-child {
        left: 13px;
        width: 30px;
        color: #E1670E;
        transition: color 0.3s ease-in-out;
    }

    .burger--active
    .burger__line:last-child {
        width: 18px;
        left: 18px;
        color: #E1670E;
        transition: color 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .header__btn {
        margin-right: 7px;
        padding: 12px 35px;
    }

    .burger__line {
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .stop-scroll {
        overflow: hidden;
    }


    .burger {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        color: #333333;
    }

    .burger__line {
        position: absolute;
        left: 35%;
        width: 30px;
        height: 3px;
        transform: translateX(-50%);
        background-color: currentColor;
    }

    .burger__line:nth-child(1) {
        top: 9px;
    }

    .burger__line:nth-child(3) {
        bottom: 9px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .header-logo {
        margin-right: auto;
        margin-left: auto;
        max-width: 150px;
        max-height: 48px;
    }

    .section-hero__heading {
        font-weight: 800;
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 16px;
    }

    .section-hero__descr {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 60px;
    }

    .header {
        padding-top: 12px;
    }

    .header-container {
        padding-bottom: 26px;
    }

    .hero-width {
        max-width: 770px;
    }

    .hero__container {
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 160px;
        margin-bottom: 82px;
        z-index: 0;
    }

    .section-hero__btn {
        margin-bottom: 60px;
    }

    .section-us__heading {
        margin-bottom: 8px;
    }

    .section-us__description {
        margin-bottom: 63px;
    }

    .special__container {
        flex-direction: column;
    }

    .special-block {
        max-width: 100%;
    }

    .special-block:not(:last-child) {
        margin-right: 0;
    }

    .item-left {
        margin-bottom: 32px;
        min-height: 640px;
    }

    .item-top, .item-bottom {
        background-position: 73px 62px;
        background-size: 21%;
    }
  
    .top-content {
        margin-left: 0px;
    }

    .special-content {
        margin-bottom: 81px;
    }

    .step-list {
        margin-bottom: 5.9%;
    }

    .cons, .cons-img {
        max-width: calc(50% - 25px);
    }

    .cons__descr {
        margin-bottom: 5%;
    }

    .work-how {
        margin-bottom: 80px;
    }

    .faq {
        padding-bottom: 79px;
    }

    .faq__header {
        margin-bottom: 32px;
    }

    .questions__header {
        max-width: 756px;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
    }

    .questions__link {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .ac .ac-trigger {
        font-size: 20px;
    }

    .footer-list {
        padding-top: 14px;
    }

    .footer-right {
        display: none;
    }

    .footer-left {
        min-width: 254px;
        margin-right: 128px;
    }

    .footer-center {
        margin-right: 0;
        width: 100%;
    }

    .footer-container {
        padding-top: 50px;
    }

    .footer-btn {
        padding: 17px 36px;
    }

}

@media (max-width: 860px) {

    .container {
        max-width: 92%;
    }

    .cons__btn-more {
        margin-bottom: 25px;
    }

    .footer-center {
        padding-top: 28px;
    }

    .faq {
        padding-bottom: 85px;
    }

    .footer-social {
        padding-top: 10px;
    }
}

@media (max-width: 768px) {

    .header {
        padding-top: 10px;
    }

    .container {
        max-width: 87%;
    }

    .header-container {
        padding-top: 0px;
        padding-bottom: 11px;
    }

    .search-icon {
        margin: 0;
    }

    .hero__container {
        padding-left: 5%;
        padding-right: 6%;
    }

    .hero-width {
        margin: 0;
    }

    .section-hero__heading {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
    }

    .section-hero__descr {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10.4%;
    }

    .nav-list__item {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
    }

    .descr-about {
        margin-right: 6%;
    }

    .top-content {
        flex-direction: column;
        margin: 0;
        padding-left: 168px;
        padding-top: 33px;
        padding-right: 5%;
        padding-bottom: 33px;
    }

    .hero__container {
        background-image: url(../img/jpg/hero-bck-768.jpg);
    }

    .footer-list {
        display: none;
    }

    .footer-container {
        flex-direction: column-reverse;
    }

    .block-cons {
        flex-direction: column-reverse;
    }

    .step-list {
        margin-bottom: 7%;
    }

    .cons-img {
        background-image: url(../img/jpg/Cons-img-768.jpg);
        min-height: 285px;
        max-width: 100%;
    }

    .cons-img-two {
        min-height: 285px;
        max-width: 100%;
    }

    .cons-img-three {
        min-height: 285px;
        max-width: 100%;
    }

    .cons-img-four {
        min-height: 285px;
        max-width: 100%;
    }

    .cons {
        max-width: none;
        padding-top: 39px;
    }

    .item-top, .item-bottom {
        padding: 0;
    }

    .item-top {
        background-size: 17%;
        background-position: 40px 65px;
    }

    .item-bottom {
        background-size: 17%;
        background-position: 40px 65px;
    }

    .item-left {
        min-height: 650px;
        background-image: url(../img/jpg/about-768px.jpg);
    }

    .items-bck {
        padding-top: 20px;
        padding-bottom: 36px;
        padding-left: 41px;
        padding-right: 40px;
    }

    .step-list {
        justify-content: space-between;
    }

    .step-list__item {
        margin-right: 0%;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    .work-how {
        margin-bottom: 52px;
    }

    .work-how__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 59px;
    }

    .cons__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 4%;
    }

    .footer-send {
        flex-direction: column;
    }

    .faq__header {
        font-weight: 400;
        font-size: 48px;
        line-height: 59px;
    }

    .questions__header {
        max-width: 570px;
    }

    .questions__link {
        padding-top: 5%;
        padding-bottom: 3.7%;
        margin: 0;
    }

    h4 {
        margin: 0;
    }

    .footer-container {
        padding-top: 23px;
}

    .input-forms {
        max-width: 542px;
    }

    .footer-send {
        flex-direction: row;
        margin-bottom: 49px;
    }
}

@media (max-width: 480px) {

    .form {
        padding: 8px 3px 8px 16px;
        transform: translate(-100%, -50%);
    }

    .form__active .form__input {
        min-width: 60%;
        font-size: 12px;
    }

    .header__nav {
        transform: translate(10%, 0%);
    }

    .form-btn svg {
        width: 20px;
        height: 20px;
    }

    .form-btn__submit {
        margin-right: 5px;
    }

    .close--search {
        width: 20px;
        height: 20px;
    }

    .container {
        max-width: 90.8%;
    }

    .header-logo {
        max-width: 132px;
    }

    .hero__container {
        background-image: url(../img/jpg/hero-background-320.jpg);
        background-size: cover;
        padding: 0;
        padding-top: 58px;
        min-height: 308px;
        margin-bottom: 62px;
    }

    .btn {
        margin: 0 auto;
        display: block;
        padding: 12px 27px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }
    
    .items-bck {
        display: none;
    }

    .items-bck-320px {
        display: block;
        margin-bottom: 30px;
    }

    .descr-about {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #333333;
        margin-bottom: 10px;
    }

    .btn-about {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #FF9900;
        padding: 11px 40px;
    }

    .special-item {
        flex-direction: column;
    }

    .top-content {
        padding: 0;
        padding-top: 62px;
        margin: 0;
    }

    .item-top, .item-bottom {
        border: none;
        background-position: 0px 0px;
    }

    .item-top {
        background-image: url(../img/svg/Frame\ 39.svg);
        background-size: 64px 49px;
    }

    .item-bottom {
        background-image: url(../img/svg/Frame\ 38.svg);
        margin-bottom: -21px;
        background-size: 64px 49px;
    }

    .section-hero__heading {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 9px;
    }

    .section-hero__descr {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 32px;
    }

    .questions__link svg {
        width: 30px;
        height: 30px;
    }

    .section-title, .faq__header {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .section-us {
        margin-bottom: -48px;
    }

    .section-us__heading {
        margin-bottom: 19px;
    }

    .section-us__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .item-left {
        background-image: url(../img/jpg/about-320px.jpg);
        min-height: 200px;
        margin-bottom: 7px;
        background-size: auto;
    }


    .left-item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 4px;
    }

    .block-descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    .step-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .step-list__item {
        margin-right: 0px;
    }

    .work-how {
        margin-bottom: 62px;
    }

    .work-how__title {
        margin-bottom: 17px;
    }

    .step-list {
        margin-bottom: 14px;
    }

    .cons-img {
        background-image: url(../img/jpg/Cons-img-320.jpg);
        min-height: 160px;
        background-size: auto;
    }

    .cons {
        padding-top: 16px;
    }

    .cons__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    .cons__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 13px;
    }

    .cons__btn-more {
        display: inline;
        padding: 12px 43px;
        margin-right: 8px;
    }

    .cons__btn-treaty {
        padding: 11px 30px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    .questions__header {
        max-width: 87%;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .faq {
        padding-bottom: 60px;    
    }

    .footer-container {
        padding-top: 3px;
        padding-bottom: 20px;
    }

    .faq__header {
        margin-bottom: 17px;
    }
    
    .questions__link {
        padding-top: 27px;
        padding-bottom: 27px;
    }

    .footer-center-title {
        margin-bottom: 22px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }

    .input-forms {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        padding: 13px 20px;
    }

    .footer-send {
        flex-direction: column;
        margin-bottom: 32px;
    }

    .user-msg {
        margin-bottom: 27px;
    }

    .footer-btn {
        margin-bottom: 10px;
    }

    .footer-left {
        margin: 0 auto;
        display: block;
    }

    .footer-logo {
        display: block;
        max-width: 55%;
        margin-right: auto;
        margin-left: auto;
    }

    .social-item:not(:last-child) {
        margin-right: -4px;
    }

    .item-svg {
        max-width: 65%;
    }

    .footer-social {
        justify-content: center;
        margin: 0;
        margin-left: 22px;
    }

    .nav-list__item {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    .ac .ac-trigger {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
    }

    .form {
        min-width: auto;
        width: 80%;
    }

    .ac .ac-panel .ac-text {
        font: 400 10px 'Montserrat', san-serif;
        line-height: 16px;
    }

}