@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Bold'), 
        url('../fonts/montserrat-bold.woff2') format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-ExtraBold'),
        url('../fonts/montserrat-extrabold.woff2') format("woff2");
    font-display: swap;
    font-weight: 800;
    font-style: normal;   
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'), 
        url('../fonts/montserrat-regular.woff2') format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;   
}

@media (max-width: 768px) {
    .section-hero__heading {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    }

:root {
    --basic-color: #FF9900;
    --active-color: #A47312;
    --white-color: #FFFFFF;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

button {
    font-family: inherit;
}

ul {
    margin: 0;
}

fieldset {
 border: 0 none;
 padding: 0;
}

option {
    padding: 0;
    margin: 0;
}

input {
    color: #CACACA;
    border: 0 none;
    background-color: #414141;
}

textarea {
    color: #CACACA;
    border-color: none;
    background-color: #414141;
}

select,
input {
    border: 0 none;
}

textarea:focus,
input:focus {
    color: #FFFFFF;
    outline: none;
    background-color: #666666;
}

textarea:hover,
input:hover {
    outline: none;
    background-color: #666666;
}

textarea:active,
input:active {
    color: #FFFFFF;
    background-color: #666666;
}

textarea, input {
    transition-property: outline, color, border-color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
}

.special__container {
    justify-content: space-between;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
    margin: 0;
    display: inline-block;
    padding: 26px 39px;
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    background-color: var(--basic-color);
    border: 1px solid var(--basic-color);
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:focus-visible {
    outline: none;
    background-color: var(--basic-color);
    color: var(--white-color);
}

.btn:hover {
    background-color: var(--basic-color);
    color: var(--white-color);
}

.btn:active {
    background-color: var(--active-color);
    border-color: var(--active-color);
    color: var(--white-color);
}

.btn-route:focus-visible {
    font-weight: 400;
    outline: none;
    background-color: var(--basic-color);
    color: var(--white-color);
}

.btn-route:hover {
    font-weight: 400;
    background-color: var(--basic-color);
    color: var(--white-color);
}

.btn-route:active {
    font-weight: 400;
    background-color: var(--active-color);
    border-color: var(--active-color);
    color: var(--white-color);
}

.flex {
    display: flex;
}


/* Header */


.header {
    position: relative;
    z-index: 1;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 11px;
    display: flex;
    height: 100%;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.nav-list__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-right: 86px;
}

.nav-list__item:not(:last-child) {
    margin-right: 84px;
}

.nav-link {
    position: relative;
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition-property: color, outline-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FF9900;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link:focus::after {
    opacity: 0;
}

.nav-link:focus-visible {
    outline-color: #FF9900;
}

.nav-link:active:not(:focus-visible) {
    color: #E1670E;
}

.nav-link:active::after {
    opacity: 1;
    outline-color: transparent;
    background-color: #E1670E;
}

.form-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.form-btn:focus {
    outline: 2px solid #FF9900;
    cursor: pointer;
}

.form-container {
    display: inline-block;
}

.form-btn__submit {
    margin-right: 20px;
}
  .form-btn__open {
    transition: opacity .3s ease-in-out;
}
  .form-btn__open.active {
    opacity: 0;
}

.form-btn__open svg:hover rect {
  fill: #FF9900;

}

.form-btn__open svg:hover path {
  stroke: #FF9900;

}


  .form {
    display: flex;
    align-items: center;
    min-width: 540px;
    padding: 16px 3px 16px 32px;
    border-radius: 16px;
    position: absolute;
    transform: translate(-95%, -50%);
    z-index: 2;
    top: 50%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: transform .1s ease-in-out, opacity .3s ease-in-out .3s, visibility .3s ease-in-out .3s;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
}
  
.form__active .form__input {
    min-width: 80%;
    border-bottom: 1px solid #DCDCDC;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 0;
}
  .form__input:focus-visible {
    outline: 0;
    opacity: 0.8;
}
  
  .form__active {
    transform: translate(-95%, -50%);
    opacity: 1;
    visibility: visible;
}



/*Hero*/

.hero__container {
    min-height: 620px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero-width {
    max-width: 55%;
}

.section-hero__heading {
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.section-hero__descr {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.section-hero__btn {
    transition: background-color 0.3s ease-in-out;
}

.section-hero__btn:focus-visible {
    border-color: transparent;
    background-color: rgba(255, 153, 0, 0.7);
    outline: 2px solid #FF9900;
}

.section-hero__btn:hover {
    border-color: transparent;
    background-color: rgba(255, 153, 0, 0.7);
}

.section-hero__btn:active {
    border-color: transparent;
    background-color: #E1670E;
}

.swiper.hero__swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

.hero__pagination.swiper-bullet-pagination {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
  }

.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
  }

.swiper-slide-1 {
    background-image: url('../img/jpg/hero-img.jpg');
}

.swiper-slide-2 {
    background-image: url('../img/jpg/hero-bg-2.jpg');
}

.swiper-slide-3 {
    background-image: url('../img/jpg/hero-bg-3.jpg');
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
}

.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    background: white;
    opacity: 40%;
}

.swiper-pagination-bullet-active {
    opacity: 100%;
}

.swiper-pagination-bullet:focus {
    outline: 3px solid #FF9900;
}




/*Section-us*/

.section-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}

.block-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #333333;
}

.section-us {
    margin-bottom: 50px;
}

.section-us__heading {
    margin-bottom: 20px;
}

.section-us__description {
    max-width: 1235px;
    margin-bottom: 50px;
}

.special-content {
    margin-bottom: 100px;
}

.special-block {
    max-width: calc((100% - 30px) / 2);
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.item-left {
    background-image: url("../img/jpg/about-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex: 1 1 0;
    position: relative;
}

.special-item:not(:last-child) {
    margin-bottom: 32px;
}

.special-item {
    padding-left: 10%;
}

.items-bck {
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 51px;
    padding-left: 51px;
    padding-right: 52px;
    background-color: rgba(0, 0, 0, 0.5);
}

.items-bck-320px {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    display: none;
}

.descr-about {
    font-weight: 700;
    font-size: 16px;
    line-height: 200%;
    color: #FFFFFF;
    margin-right: 130px;
}

.btn-about {
    border-color: transparent;
    padding-top: 18px;
    padding-bottom: 22px;
    padding-right: 38px;
    padding-left: 36px;
    max-width: 175px;
    max-height: 60px;
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 3px solid #FF9900;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: background-color .3s ease-in-out;
}

.btn-about:focus-visible {
    outline: 2px solid #E1670E;
    background-color: #FF9900;
}

.btn-about:hover {
    background-color: #FF9900;
}

.btn-about:active {
    border-color: transparent;
    background-color: #E1670E;
}

.item-top {
    background-image: url("../img/png/cons-img.png");
    background-position: 9% 50%;
    background-repeat: no-repeat;
    border: 1px solid #CACACA;
    padding-top: 62px;
    padding-bottom: 65px;
    padding-left: 34%;
    padding-right: 60px;
    background-size: 22%;
}

.item-bottom {
    background-image: url("../img/png/aim-img.png");
    background-position: 9% 50%;
    background-repeat: no-repeat;
    border: 1px solid #CACACA;
    padding-top: 62px;
    padding-bottom: 65px;
    padding-left: 34%;
    padding-right: 60px;
    background-size: 22%;
}

.top-content {
    flex-direction: column;
}

.left-item-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.left-item-price {
    max-width: 450px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #333333;
}

/*HOW*/

.work-how {
    margin-bottom: 100px;
}

.work-how__title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}

.step-list {
    margin-bottom: 45px;
}

.step-list__item {
    margin-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.step-link {
    transition-property: outline, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.step-link:focus-visible {
    outline: none;
    outline: 2px solid #FF9900;
    outline-offset: 5px;
}

.step-link:hover:not(:focus-visible) {
    color: #FF9900;
}

.step-link:active:not(:focus-visible) {
    color: #E1670E;
}

.cons__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.cons__descr {
    margin-right: 0;
    margin-bottom: 50px;
    max-width: 758px;
}

.cons__btn-more {
    padding: 20px 38px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-right: 25px;
    transition: background-color .3s ease-in-out;
}

.cons__btn-more:focus-visible {
    outline: 2px solid #E1670E;
    background-color: #F7B045;
}

.cons__btn-more:hover {
    background-color: #F7B045;
}

.cons__btn-more:active {
    border-color: transparent;
    background-color: #E1670E;
}

.cons__btn-treaty {
    background-color: inherit;
    padding: 20px 38px;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #333333;
    transition-property: border-color, color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.form__input:hover {
  background-color: #FFFFFF;
  color: #333333;
}

.cons__btn-treaty:focus {
    border-color: transparent;
    background-color: #666666;
    color: #FFFFFF;
}

.cons__btn-treaty:hover {
    border-color: transparent;
    background-color: #666666;
    color: #FFFFFF;
}

.cons__btn-treaty:active {
    border-color: transparent;
    background-color: #000000;
    color: #FFFFFF;
}

.block-cons {
    justify-content: space-between;
}

.tabs-nav__btn {
    border: none;
    background: none;
}

.tabs-nav__btn--active {
    color: #E1670E;
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: flex; 
}

.cons-img {
    background-image: url("../img/jpg/Cons-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 0;
    max-width: 870px;
}

.cons-img-two {
    background-image: url("../img/jpg/Cons-img-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 0;
    max-width: 870px;
}

.cons-img-three {
    background-image: url("../img/jpg/Cons-img-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 0;
    max-width: 870px;
}

.cons-img-four {
    background-image: url("../img/jpg/Cons-img-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 0;
    max-width: 870px;
}

/*FAQ*/

.faq {
    padding-bottom: 100px;
}

.faq-slash {
    color: #CACACA;
}

.faq__header{
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 43px;
    line-height: 58px;
 }

 .questions__link{
   padding: 0;
   margin: 0;
   padding-top: 38px;
   padding-bottom: 38px;
   border-top: 1px solid #CACACA;;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid #CACACA;;
   margin-top: -1px;
   position: relative;
   transition-property: border-color, color, outline;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
 }

 .question-descr {
    height: 100%;
    justify-content: space-between;
    align-items: center;
 }

 .ac .ac-trigger::after {
    display: none;
 }

 .ac .ac-trigger:hover:not(:active) {
    color: #FF9900;
 }
 
 .questions__link:hover, .questions__link:focus {
    z-index: 1;
    border-color: #FF9900;
    color: #FF9900;
    outline: none;
 }

 .questions__link:hover path, .questions__link:focus path{
    fill: #fff;
 }
 
 .questions__link:hover ellipse, .questions__link:focus ellipse{
    fill: #FF9900;
 }

 .questions__link path, .questions__link ellipse {
   transition-property: fill;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
 }

 .questions__link svg {
   transition-property: transform;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
 }

 .ac .ac-trigger {
    font: 600 24px 'Montserrat',san-serif;
    line-height: 32px;
    padding: 0;
 }

 .is-active:hover {
    border-color: #CACACA;
 }

.is-active svg {
    transform: rotate(45deg);
 }

 .is-active:hover svg path {
    fill: #666666;
 }

 .is-active:hover svg ellipse {
    fill: #ECECEC;
 }

 .questions__header{
    font-size: 24px;
 }

 .ac .ac-panel .ac-text {
    padding: 0;
    padding-top: 30px;
    margin: 0;
    font: 400 16px 'Montserrat', san-serif;
    line-height: 32px;
 }

/*Footer*/

.footer {
    background-color: #222222;
}

.footer-logo {
    margin-bottom: 0px;
}

.footer-list {
    margin-bottom: 90px;
    padding-top: 15px;
}

.footer-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA ;
}

.footer-item-link {
    transition-property: outline, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.footer-item-link:focus-visible {
    outline: none;
    outline: 2px solid #FF9900;
    outline-offset: 3px;
}

.footer-item-link:hover:not(:focus-visible) {
    color: #FF9900;
}

.footer-item-link:active:not(:focus-visible) {
    color: #E1670E;
}

.item-svg {
    transform: translateY(2px);
}

.footer-link svg{
    fill: #7C7C7C;
    transition-property: outline, fill;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.footer-link:focus-visible {
    outline: none;
    outline: 2px solid #FF9900;
    outline-offset: 2px;
}

.footer-link svg:hover:not(:focus-visible) {
    fill: #FF9900;
}

.footer-link svg:active:not(:focus-visible) {
    fill: #E1670E;
}

.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.footer-left {
    margin-right: 350px;
}

.footer-center {
    flex-direction: column;
    margin-right: 236px;
}

.footer-center-title {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}

.form-check__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form-check__input:focus {
    top: -5px;
    bottom: 15px;
    right: 7px;
    outline-offset: 8px;
    outline: 2px solid white;
}

.checkbox {
    margin-left: -1.2em;
    position: absolute;
    margin-top: 0.5em;
    width: 0.9em;
    height: 0.9em;
    background-image: url("../img/svg/check_svg_frame.svg");
}

.form-check__input:checked + .checkbox {
    background-image: url("../img/svg/check_svg.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.form-check__input:focus + .checkbox {
    background-image: url("../img/svg/check_svg_frame.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
}

.form-check__input:checked:focus + .checkbox {
    background-image: url("../img/svg/Check.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
}


.user-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 25px;
    padding: 14px 24px;
    max-width: 570px;
}

.user-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 25px;
    padding: 14px 24px;
    max-width: 570px;
}

.user-msg {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 33px;
    padding: 14px 24px;
    min-height: 150px;
    max-width: 570px;
    resize: none;
    border: none;
}

.footer-right {
    flex: 1 0 0;
    padding-top: 85px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.social-item:not(:last-child) {
    margin-right: 25px;
}

.form-check {
    padding-left: 1.2em;
    align-self: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.form-check__input {
    position: relative;
}

.form-check__input::before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 3px;
    right: 15px;
    outline: 1px solid #FF9900;
    outline-offset: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.form-check__input::before:focus {
    outline: 3px solid white;
}

.footer-btn {
    padding: 19px 50px;
    margin-right:22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition-property: border-color, color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

.footer-btn:focus-visible {
    outline: 2px solid #E1670E;
    background-color: #F7B045;
}

.footer-btn:hover {
    background-color: #F7B045;
}

.footer-btn:active {
    border-color: transparent;
    background-color: #E1670E;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .visually-hidden {
    visibility: hidden;
  }



